@{
    Layout = null;
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<style>
    body {
        background: #ddd;
        min-height: 100%;
        vertical-align: middle;
        display: flex;
        font-family: sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .title {
        margin-bottom: 5vh;
    }

    .card {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent;
    }

    .card {
        margin: 3vh auto;
        max-width: 90%
    }

    .cart {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
        max-width: 90%
    }

    .summary {
        background-color: #F9E1E0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65);
        float: right;
        margin-bottom: 0;
    }

    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
        max-width: 90%
    }

        .summary .col-2 {
            padding: 0;
        }

        .summary .col-10 {
            padding: 0;
        }

    .row {
        margin: 0;
    }

    .title b {
        font-size: 1.5rem;
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%;
    }

    .col-2, .col {
        padding: 0 0;
    }

    a {
        padding: 0 1vh;
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem;
    }

    img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .back-to-shop {
        margin-top: 4.5rem;
    }

    h5 {
        margin-top: 4vh;
    }

    hr {
        margin-top: 1.25rem;
    }

    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0;
    }

        .btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none;
        }

        .btn:hover {
            color: white;
        }

    a {
        color: black;
    }

        a:hover {
            color: black;
            text-decoration: none;
        }

    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
    }
</style>
<div class="card">
    <div class="row">
        <div class="col-md-6 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Thông tin Menu - Dịch vụ</b></h4></div>
                    <div class="col align-self-center text-right text-muted">Số lượng menu - dịch vụ</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="~/Image/BanhManKhaiVi/PateChaud.jpg"></div>
                    <div class="col">
                        <div class="row text-muted">Món Ăn</div>
                        <div class="row">Pate Chaud</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">100.000 VND <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="~/Image/Lau/lau_ca_tam_chua_cay.jpg"></div>
                    <div class="col">
                        <div class="row text-muted">Món Ăn</div>
                        <div class="row">Lẩu cá tầm chua cay</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">1.000.000 VND <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="~/Image/TrangTri/TIAMO/T_1.jpg"></div>
                    <div class="col">
                        <div class="row text-muted">Dịch vụ</div>
                        <div class="row">Trang trí TIAMO</</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">1.000.000 VND <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Trở lại đặt tiệc</span></div>
        </div>

    </div>
    <div class="col-md-6 summary">
        <div>
            <h5><b>Thông tin khách hàng</b></h5>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p style="margin: 0; padding-left: 0;">Tên khách hàng</p>
                <p style="margin: 0; padding-left: 0;">Số điện thoại</p>
                <p style="margin: 0; padding-left: 0;">Ngày sinh</p>
                <p style="margin: 0; padding-left: 0;">Căn cước công dân</p>
                <p style="margin: 0; padding-left: 0;">Email</p>
            </div>
            <div class="col text-right">
                <p style="margin: 0;">@ViewBag.TenKhachHang</p>
                <p style="margin: 0;">@ViewBag.SoDienThoai</p>
                <p style="margin: 0;">@ViewBag.NgaySinh</p>
                <p style="margin: 0;">@ViewBag.CCCD</p>
                <p style="margin: 0;">@ViewBag.Email</p>
            </div>
        </div>

        <div>
            <h5><b>Thông tin đặt tiệc</b></h5>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p style="margin: 0; padding-left: 0;">Loại hình tiệc</p>
                <p style="margin: 0; padding-left: 0;">Ngày tổ chức</p>
                <p style="margin: 0; padding-left: 0;">Thời gian tổ chức</p>
                <p style="margin: 0; padding-left: 0;">Số lượng bàn chính thức</p>
                <p style="margin: 0; padding-left: 0;">Số lượng bàn chay</p>
                <p style="margin: 0; padding-left: 0;">Số lượng bàn dự phòng</p>
                <p style="margin: 0; padding-left: 0;">Số lượng bàn setup</p>
                <p style="margin: 0; padding-left: 0;">Số lượng bàn tặng</p>
                <p style="margin: 0; padding-left: 0;">Loại bàn</p>
            </div>
            <div class="col text-right">
                <p style="margin: 0;">@ViewBag.LoaiHinhTiec</p>
                <p style="margin: 0;">@ViewBag.NgayToChuc</p>
                <p style="margin: 0;">@ViewBag.ThoiGianToChuc</p>
                <p style="margin: 0;">@ViewBag.SoLuongbanChinhThuc</p>
                <p style="margin: 0;">@ViewBag.SoLuongBanChay</p>
                <p style="margin: 0;">@ViewBag.SoLuongBanDuPhong</p>
                <p style="margin: 0;">@ViewBag.TongBanSetup</p>
                <p style="margin: 0;">4</p>
                <p style="margin: 0;">@ViewBag.LoaiBan</p>
            </div>
        </div>

        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col">
                <p style="margin: 0; padding-left: 0;">Tổng tiền dự kiến</p>
                <p style="margin: 0; padding-left: 0;">Tổng tiền được giảm</p>
                <p style="margin: 0; padding-left: 0;">Tổng tiền phải trả</p>
                <p style="margin: 0; padding-left: 0;">Tiền cọc lần 1: </p>
            </div>
            <div class="col text-right">
                <p style="margin: 0;">Tiền dự kiến</p>
                <p style="margin: 0;">Tiền giảm</p>
                <p style="margin: 0;">Tiền trả</p>
                <p style="margin: 0;">Tiền cọc</p>
            </div>
        </div>
        <button class="btn">Lưu thông tin đặt tiệc</button>
    </div>
</div>