

@using DatTiecNhaHangTiecCuoi.Models
@model List<NhanVienEntity>
@{
    ViewBag.Title = "QuanLyNhanVien";
    Layout = "~/Views/Shared/Layout_QuanLy.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: none;
        }

        th, td {
            border-bottom: 2px solid;
            padding: 2px;
            text-align: center;
        }

            th:not(:last-child),
            td:not(:last-child) {
                border-right: 1px solid;
            }

            th:first-child,
            td:first-child {
                text-align: left; /* Canh trái cho cột 1 và cột 2 */
                width: 20%;
            }


            td:nth-child(2),
            td:nth-child(3),
            td:nth-child(4),
            td:nth-child(5) {
                width: 10%; /* Đặt tỷ lệ phần trăm cho từng ô td tại đây */
            }

            td:nth-child(6) {
                width: 5%;
            }

            td:nth-child(7) {
                width: 3%;
            }

        th, td {
            text-align: center; /* Canh giữa cho title */
            border-top: 1px solid;
        }

        button {
            width: 50px; /* Đặt chiều rộng của nút là 100% */
            height: 30px;
            background-color: bisque;
            color: black;
        }
    </style>
</head>
<body>
    <div style="display: flex; justify-content: space-between; margin-bottom: 15px;">
        <h1 style="margin: 0;">Danh sách Nhân Viên</h1>
        <button style="width: 10%" onclick="Add()">Thêm</button>
    </div>
    <hr />
    <table>
        <thead>
            <tr>
                <th>Tên Nhân Viên</th>
                <th>Số Điện Thoại</th>
                <th>Ngày Sinh</th>
                <th>Căn Cước<br /> Công Dân</th>
                <th>Gmail</th>
                <th>Ngày<br /> Vào Làm</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nv in Model)
            {
                <tr>
                    <td>@nv.TenNhanVien</td>
                    <td>@nv.SoDienThoai</td>
                    <td>@nv.NgaySinh</td>
                    <td>@nv.CCCD</td>
                    <td>@nv.Gmail</td>
                    <td>@nv.NgayVaoLam</td>
                    <td>
                        <table>
                            <tr>
                                <td style="border: none;">
                                    <button onclick="Edit('@nv.MaNhanVien')">Sửa</button>
                                </td>
                                <td style="border: none;">
                                    <button onclick="Delete('@nv.MaNhanVien')">Xóa</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function Edit(MaNhanVien) {
            window.location.href = '/QuanLy/SuaNhanVien?MaNhanVien=' + MaNhanVien;
        }

        function Add() {
            window.location.href = '/QuanLy/ThemNhanVien';
        }

        function Delete(maNhanVien) {
            var confirmDelete = confirm('Bạn có chắc muốn xóa nhân viên này không?');
            if (confirmDelete) {
                // Sử dụng Ajax để gửi yêu cầu xóa
                $.ajax({
                    url: '/QuanLy/XoaNhanVien',
                    type: 'POST',
                    data: { maNhanVien: maNhanVien },
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                location.reload();
            }
        }
    </script>
</body>
</html>





